---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
            <a href="https://secret.matees.net/">Here!</a>
		<Footer />
	</body>

    <style>
        a {
            color: #ff5555;
        }
    </style>
</html>
